header {

    #navParent{
        width:100%;
        .center();
    nav{
        height: 50%;
        font-size:1.5rem;
        padding: 2%;

        @media @mobile{
            margin: 5%;
            font-size: 1rem;
        }
       
        a{
            color: slategrey;
            text-decoration: none;;
            border-right: 2px solid rgb(142, 154, 167);
            padding: 20px;
            margin: 10px;

            &:hover{
                color:black;
                
              } 
        }  
       

    }}
}
